.display {
    border: 2px solid #59b7ff;
    display: flex;
    flex: 1;
    padding: 20px 40px;
    margin-top: 20px;
    border-radius: 30px;
    width: 90%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.fabContainer {
    position: absolute;
    bottom: 0px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: none;
    cursor: default;
}
