.container {
    position: absolute;
}

.field {
    margin: 8px;
    min-width: 200px;
    height: 40px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    outline: none;
    font-size: 14px;
}
