@media screen and (min-width: 900px) {
    .img {
        width: 390px;
        height: 100px;
    }
}

@media screen and (max-width: 900px) {
    .img {
        width: 292.5px;
        height: 75px;
    }
}

@media screen and (max-width: 600px) {
    .img {
        width: 195px;
        height: 50px;
    }
}

.container {
    display: flex;
    min-height: calc(100vh - 60px);
    overflow: none;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-image: url(./images/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.footerLabel {
    position: absolute;
    bottom: 0;
    right: 10px;
    background-color: aqua;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 12px;
    font-weight: bold;
}

.mainRow {
    width: 100%;
    flex: 1;
}
